.app-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 7.2rem;
	background: $bg-black;
	position: relative;
	z-index: $z-top;
	// transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	h1 {
		font-family: 'Ubuntu', sans-serif;
		margin: 0;
		// color: $main-accent;
		opacity: 0.84;
		letter-spacing: 0.5px;
	}
	box-shadow: $depth-2;
	padding: 0 $m-size 0 0;
	@include for-tablet-landscape-up {
		padding: 0 $m-size;
	}
}

.app-header--no-menu {
	padding-left: $m-size;
	.app-header__hamburger-button {
		display: none;
	}
}

.app-header__hamburger-button {
	background: none;
	border: none;
	outline: none;
	color: #fff;
	font-size: 2.4rem;
	cursor: pointer;
	width: 7.2rem;
	height: 7.2rem;
	padding: 0 $m-size;
	display: block;
	@include for-tablet-landscape-up {
		display: none;
		padding: 0;
	}
}

.app-header__right-content,
.app-header__left-content {
	display: flex;
	align-items: center;
}

.app-header__right-content {
	button {
		background: none;
		border: none;
		outline: none;
	}
	img {
		transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
		height: $xl-size;
		border-radius: $xl-size;
		box-shadow: $depth-3;
		margin-right: 2px;
		&:hover,
		&.app-header__profile-pic--active {
			margin-right: 0;
			box-shadow: $depth-5;
			border: 2px solid $main-accent;
			height: calc(#{$xl-size} + 4px);
		}
	}
}

.app-header__menu--hidden {
	display: none;
	pointer-events: none;
}

.app-header__menu {
	position: absolute;
	right: $m-size;
	top: 7.4rem;
	// height: 320px;
	width: 320px;
	background: $bg-tertiary;
	padding: $m-size;
	border-radius: 4px;
	box-shadow: $depth-2;
	text-align: center;
	img {
		height: 9.6rem;
		border-radius: 9.6rem;
		box-shadow: $depth-3;
	}
	div {
		border-top: 1px solid $bg-secondary;
		padding-top: $s-size;
	}
}
