.button {
    height: 3.6rem;
    padding: 0 $s-size;
    min-width: 6.4rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    margin: 0 $xs-size $xs-size 0;
    text-transform: uppercase;
    color: #fff;
    background: none;
    border: 1px solid #fff;
    font-weight: 700;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
        background-color: $bg-secondary;
    }

    a {
        text-decoration: none;
        &:active {
            color: #fff;
        }
    }

}

.button--primary {
    @extend .button;
    background-color: $main-accent;
    color: $text-black;
    border: none;
    &:hover {
        background-color: $secondary-accent;
    }
    box-shadow: $depth-1;
    a {
        text-decoration: none;
        &:active {
            color: $text-black;
        }
    }
}

.button--text {
    @extend .button;
    border: none;
}

.button--disabled {
    pointer-events: none;
    opacity: .35;
}

.action-button {
    @extend .button;
    height: 5.6rem;
    min-width: 5.6rem;
    padding: 0 1.6rem;
    background-color: $main-accent;
    border: none;
    border-radius: 2.8rem;
    box-shadow: $depth-5;
    margin: $m-size $s-size;
    color: $text-black;
    display: flex;
    align-items: center;
    span {
        margin: 0 2rem 0 1.2rem;
    }
    &:hover {
        background-color: $secondary-accent;
    }
    @include for-tablet-landscape-up {
        margin: $l-size;
    }
}