.macro-tracker {
    transition: height 0.3s cubic-bezier(.25,.8,.25,1);
    position: relative;
    height: auto;
    width: auto;
}

.macro-tracker__helper-text {
    opacity: .84;
    a {
        color: #fff;
    }
}

.macro-tracker__macros {
    margin: $m-size 0 $l-size;
}

.macro-tracker__macro {
    font-weight: 300;
    display: flex;
    align-items: center;
    margin-bottom: $s-size;
    p {
        margin: 0;
    }
    span {
        font-weight: 400;
        text-transform: capitalize;
    }
}

.macro-tracker__macro-key {
    $key-size: 16px;
    width: $key-size;
    height: $key-size;
    border-radius: $key-size;
    margin-right: $s-size;
}

.macro-tracker__overlay {
    form {
        margin-top: $l-size;
    }
}

#macro-key-0 {
    background: #29ffc6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0cebeb, #29ffc6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0cebeb, #29ffc6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#macro-key-1 {
    background: rgb(87, 248, 108);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(177, 248, 33), rgb(87, 248, 108));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(177, 248, 33), rgb(87, 248, 108)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#macro-key-2 {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}