.tabs__tablist {
    display: flex;
    height: 4.8rem;
    margin: 0 0 $m-size;
    padding: 0 $m-size;
    background-color: $bg-tertiary;
    z-index: $z-1;
}

.tabs__tab {
    text-transform: uppercase;
    text-align: center;
    padding: $s-size $m-size;
    font-weight: 400;
    opacity: .54;
    letter-spacing: 0.5px;
    cursor: pointer;
    min-width: 9rem;
    max-width: 36rem;
}

.tabs__tab--active {
    border-bottom: 2px solid $active-text;
    color: $active-text;
    font-weight: 700;
    opacity: 1;
}

.tabs__tab-content {
    display: flex;
    padding: $m-size;
}