.workouts-page {
    display: flex;
    justify-content: center;
}

.workouts-page__list {
    width: 70%;
}

.workouts-page__workout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: $m-size;
    margin-bottom: $m-size;
    font-weight: 300;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    p {
        margin: 0;
        margin-bottom: $xs-size;
    }
    &:hover {
        box-shadow: $depth-5;
    }
}

.workouts-page__lift {
    margin-right: $s-size;
}

.workouts-page__date {
    justify-self: end;
    opacity: .64;
}

.workouts-page__workout-number {
    text-transform: uppercase;
    font-weight: 300;
    color: $active-text;
}

.workouts-page__lift-name {
    font-weight: 700;
}

.workouts-page__result {
    opacity: .84;
}

.workouts-page__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}